
<section class="intro">
  <div class="gradient-custom-1 h-100">
    <div class="d-flex pt-5 mt-5 h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="card shadow-lg border-0 rounded">
              <div class="card-body">
                <h2 class="card-title text-center"><%= @employee.new_record? ? 'New Employee' : 'Edit Employee' %></h2>
                <%= form_with(model: employee, class: 'needs-validation', novalidate: true) do |form| %>
                  
                  <div class="row">
                    <div class="col-6">
                      <%= form.label :first_name, class: 'form-label' %>
                      <%= form.text_field :first_name, class: 'form-control', required: true %>
                    </div>

                    <div class="col-6">
                      <%= form.label :last_name, class: 'form-label' %>
                      <%= form.text_field :last_name, class: 'form-control', required: true %>
                    </div>
                  </div>

                  <div class="mb-3">
                    <%= form.label :email, class: 'form-label' %>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <%= form.text_field :email, class: 'form-control', required: true  %>
                    </div>
                  </div>

                  <div class="mb-3">
                    <%= form.label :designation, class: 'form-label' %>
                    <%= form.text_field :designation, class: 'form-control', required: true %>
                  </div>

                  <div class="mb-3">
                    <%= form.label :department_id, class: 'form-label' %>
                    <%= form.collection_select :department_id, @departments, :id, :name, { prompt: "Select a Department" }, { class: 'form-select' } %>
                  </div>

                  <div class="row mt-4">
                    <div class="col-6">
                      <%= link_to 'Back', employees_path, class: "btn btn-secondary" %>
                    </div>

                    <div class="col-6 text-end">
                      <%= form.submit 'Save', class: "btn btn-success" %>
                    </div>
                  </div>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
