<tr id="<%= dom_id bill %>">

  <td>
    <%= bill.bill_type %>
  </td>

  <td>
    <%= bill.amount %>
  </td>

  <td>
    <%= bill.created_at.strftime("%d-%m-%Y") %>
  </td>

  <td>
    <%= bill.employee.full_name %>
  </td>

  <td>
    <%= bill.employee.department.name %>
  </td>

  <td>
    <%= link_to edit_bill_path(bill), class:"btn btn-warning" do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </td>

  <td>
    <%= button_to bill, method: :delete, class:"btn btn-warning" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>

</div>
